body {
	background-color: #ADADAD;
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	font-size: .85em;
    font-family: Verdana,Arial,"sans-serif";
}

.mainContent {
	background-color: #FFFFFF;
	height: 1024px;
	width: 0.85em;
}

.pagination-centered {
  text-align: center;
}